.button {
    background-color:rgb(241, 131, 131);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#area_1 {
    background-color: gold;
}

#area_2 {
    background-color: darkolivegreen;
}

#area_3 {
    background-color: dodgerblue;
}

#area_4 {
    background-color: forestgreen;
}

#login_btn {
    background-color: rosybrown;
}