<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
</head>
<body>
    <h1>Admin control center</h1>
    <!-- Add feeding time -->
    Add a feeding show
    <form action="/add_time" method="POST">
    Date:
    <input type="date" name="date">
    <br>
    Time:
    <input type="time" name="time">
    <br>
    Number of slots:
    <input type="number" name="available">
    <br>
    Dinosaur:
    <select name="dinosaur_id">
        <!-- Dinosaur dropdown list -->
        {% for dinosaur in dinosaurs %}
        <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
        {% endfor %}
        <!-- Dinosaur dropdown list ends -->
    </select>
    <br>
    <input type="submit" value="Send">
    </form>

</body>
</html>