<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="testi">Admin control center</h1>
    <div id="forms">
        <!-- Add feeding time -->  
        <div id="form">
            <h3>Add a feeding show</h3>
            <br>
            <form action="/add_time" method="POST">
                Date:
                <input type="date" name="date">
                <br>
                Time:
                <input type="time" name="time">
                <br>
                Number of slots:
                <input type="number" name="available">
                <br>
                Dinosaur:
                <select name="dinosaur_id">
                    <!-- Dinosaur dropdown list -->
                    {% for dinosaur in dinosaurs %}
                    <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
                    {% endfor %}
                    <!-- Dinosaur dropdown list ends -->
                </select>
                <br>
                <input type="submit" value="Add">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <!-- Add feeding time ends -->
        <!-- Feeding time update -->
        <div id="form">
            <h3>Update a feeding show info</h3>
            <br>
            <form action="/update_time" method="POST">
                Select dinosaur:
                <!-- Dinosaur dropdown list -->
                <select name="dinosaur_id" id="select_update" onchange="show_radio_in_update('update_radio', 'select_update')">
                {% for dinosaur in dinosaurs %}
                    <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
                {% endfor %}
                <!-- Dinosaur dropdown list ends -->
                </select>
                <br>
                <!-- Create hidden elements -->
                {% for time in times %}
                    <div class="update_radio" name="{{ time.dinosaur_id }}" hidden>
                        <input type="radio" value="{{ time.time_id }}" id="{{ time.dinosaur_id }}" name="{{ time.dinosaur_id }}"> {{ time.date }} at {{ time.time }}
                    </div>
                {% endfor %}
                <!-- Create hidden elements ends -->
                <br>
                New date:
                <input type="date" name="date">
                <br>
                New time:
                <input type="time" name="time">
                <br>
                New number of slots:
                <input type="number" name="available">
                <br>
                <input type="submit" value="Update">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <!-- Feeding time update ends -->
        <!-- Feeding time delete -->
        <div id="form">
            <h3>Delete a feeding show</h3>
            <br>
            <form action="/delete_time" method="POST">
                Select dinosaur:
                <!-- Dinosaur dropdown list -->
                <select name="dinosaur_id" id="select_delete" onchange="show_radio_in_update('delete_radio', 'select_delete')">
                    {% for dinosaur in dinosaurs %}
                        <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
                    {% endfor %}
                </select>
                <!-- Dinosaur dropdown list ends -->
                <br>
                <!-- Create hidden elements -->
                {% for time in times %}
                    <div class="delete_radio" name="{{ time.dinosaur_id }}" hidden>
                        <input type="radio" value="{{ time.time_id }}" name="{{ time.dinosaur_id }}"> {{ time.date }} at {{ time.time }}
                    </div>
                {% endfor %}
                <!-- Create hidden elements ends -->
                <br>
                <input type="submit" value="Delete">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <!-- Feeding time delete ends-->
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>