<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="testi">Admin control center</h1>
    <div id="forms">
        <div id="form">
            <!-- Add feeding time -->    
            <h3>Add a feeding show</h3>
            <br>
            <form action="/add_time" method="POST">
                Date:
                <input type="date" name="date">
                <br>
                Time:
                <input type="time" name="time">
                <br>
                Number of slots:
                <input type="number" name="available">
                <br>
                Dinosaur:
                <select name="dinosaur_id">
                    <!-- Dinosaur dropdown list -->
                    {% for dinosaur in dinosaurs %}
                    <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
                    {% endfor %}
                    <!-- Dinosaur dropdown list ends -->
                </select>
                <br>
                <input type="submit" value="Send">
            </form>
        </div>
        <div id="form">
            <!-- Feeding time update -->
            <h3>Update a feeding show info</h3>
            <br>
            <form action="/update_time" method="POST">
                Select dinosaur:
                <!-- Dinosaur dropdown list -->
                <select name="dinosaur_id" id="select" onchange="show_radio_by_dino()">
                {% for dinosaur in dinosaurs %}
                    <option value="{{ dinosaur.id }}">{{ dinosaur.name }}</option>
                {% endfor %}
                <!-- Dinosaur dropdown list ends -->
                </select>
                <br>
                <!-- Create hidden element -->
                    {% for time in times %}
                    <div class="update_radio" name="{{ time.dinosaur_id }}" hidden>
                        <input type="radio" value="{{ time.time_id }}" id="{{ time.dinosaur_id }}"> {{ time.date }} at {{ time.time }}
                    </div>
                    {% endfor %}
                <!-- Create hidden element ends -->
                <br>
                New date:
                <input type="date" name="date">
                <br>
                New time:
                <input type="time" name="time">
                <br>
                New number of slots:
                <input type="number" name="available">
                <br>
                <input type="submit" value="Send">
            </form>
            <!-- Feeding time update ends -->
        </div>
    
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>