<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Content header -->
    <div id="content_header">
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
        <h1>DinoPark home page!</h1>
        {% if session.username %}
        <a href="/logout">
            <button class="button" id="logout_btn">Logout</button>
        </a>
        {% else %}
        <a href="/login">
            <button class="button" id="login_btn">Login/register</button>
        </a>
    </div>
    {% endif %}
    <!-- Content header ends-->
    {% for dinosaur in dinosaurs %}
    <div>
        <h2>{{ dinosaur.name }}</h2>
        <p>{{ dinosaur.description }}</p>
        <p>Dinosaur lives in area {{ dinosaur.location }}</p>
        <p>Available feeding show times :</p>
        <!-- feeding times loop-->
        {% for time in times %}
        {% if time.id==dinosaur.id %}
        <div>
            <p>{{ time[0] }} at {{ time[1] }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>