<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Content header -->
    <div id="content_header">
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
        <h1>DinoPark home page!</h1>
        {% if session.username %}
        <a href="/logout">
            <button class="button" id="logout_btn">Logout</button>
        </a>
        {% else %}
        <a href="/login">
            <button class="button" id="login_btn">Login/register</button>
        </a>
    {% endif %}        
    </div>
    <!-- Content header ends-->
    <!-- Dinosaur loop -->
    {% for dinosaur in dinosaurs %}
    <div>
        <h2>{{ dinosaur.name }}</h2>
        <p>{{ dinosaur.description }}</p>
        <p>Dinosaur lives in area {{ dinosaur.location }}</p>
        <p>Feeding show times :</p>
        <!-- Feeding times loop-->
            <form action="/reserve_result" method="POST">
            {% for time in times %}
                {% if time.dinosaur_id==dinosaur.id %}
                    <!-- If time is available, display normal text-->
                    {% if time.available > 0 %}
                        <input type="radio" name="feeding_time" id='time.time_id' value='{{ time.time_id }}'>{{ time[0] }} at {{ time[1] }}
                    {% else %}
                        <input type="radio" name="feeding_time" id='time.time_id' value='{{ time.time_id }}' disabled>{{ time[0] }} at {{ time[1] }} Not available
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
            {% if session.username %}
            <input type="submit" value="Reserve time">
            </form>
        <!-- Feeding times loop ends-->
        {% else %}
        <script>
            document.addEventListener('readystatechange', function(event) {
                if (event.target.readyState === "complete") {
                    setTimeout(() =>  { alert("Log in to reserve feeding show times!")
                }, 3000)}
            })
        </script>
        {% endif %}
    </div>
    {% endfor %}
    <!-- Dinosaur loop ends-->
</body>
</html>