<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
    </div>
    <h1>DinoPark home page!</h1>
    <br>
    <a href="/login">
        <button class="button" id="login_btn">Login/register</button>
    </a>
    <br>
    <h2>Park areas</h2>
    <br>
    <a href="/area1">
    <button class="button" id="area_1">{{ area1 }}</button>
    </a>
    <br>
    <a href="/area2">
        <button class="button" id="area_2">{{ area2 }}</button>
    </a>
    <br>
    <a href="/area3">
        <button class="button" id="area_3">{{ area3 }}</button>
    </a>
    <br>
    <a href="/area4">
        <button class="button" id="area_4">{{ area4 }}</button>
    </a>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>