{% extends "base_header.html" %}
{% block content %}
    <br>
    <div id="mapbox">
        <img id="map" usemap="#areas" src="{{url_for('static', filename='map_edited.png')}}">
    </div>
    <br>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <!-- Maps -->
    <map name="areas">
        <!-- Areas -->
        <area shape="poly" href="/area1" onmouseover="map_hover(1)" coords="669, 702, 761, 753, 851, 708, 844, 542, 714, 520, 670, 594">
        <area shape="poly" href="/area2" onmouseover="map_hover(2)" coords="844, 530, 869, 431, 717, 253, 570, 234, 478, 56, 308, 134, 399, 275, 405, 454, 382, 574, 665, 590, 712, 511">
        <area shape="poly" href="/area3" onmouseover="map_hover(3)" coords="296, 140, 256, 118, 123, 295, 186, 445, 353, 508, 393, 454, 390, 281">
        <area shape="poly" href="/area3" onmouseover="map_hover(4)" coords="186, 453, 17, 757, 58, 816, 658, 708, 660, 599, 379, 583, 349, 515">    
    </map>
    
{% endblock %}