{% extends "base_header.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <h2>Login</h2>
    <form action="/login_result" method="POST">
        Username:
        <input type="text" name="username">
        <br>
        Password:
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <br>
    <br>
    <h2>Register</h2>
    <form action="/register_result" method="POST">
        Username:
        <input type="text" name="username_reg">
        <br>
        Password:
        <input type="password" name="password_reg">
        <br>
        <input type="submit" value="Register">
    </form>
{% endblock %}