<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Content header -->
    <div id="content_header">
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
        <h1>DinoPark home page!</h1>
    </div>
    <!-- Content header ends-->
    <br>
    <h2>Login</h2>
    <form action="/login_result" method="POST">
        Username:
        <input type="text" name="username">
        <br>
        Password:
        <input type="password" name="password">
        <br>
        <input type="submit" value="Send">
    </form>
    <br>
    <br>
    <h2>Register</h2>
    <form action="/register_result" method="POST">
        Username:
        <input type="text" name="username_reg">
        <br>
        Password:
        <input type="password" name="password_reg">
        <br>
        <input type="submit" value="Send">
    </form>
</body>
</html>