{% extends "base_header.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="flex">
        <div class="profile_content">
            <div class="profile_content">
                <h2>Hello {{ user_data[0][0] }}!</h2> 
            </div>
            <div class="profile_content">
                {% if user_data[0][1] %}
                <p>You have a feeding show reservation on {{ user_data[0][1] }} at {{ user_data[0][2] }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}