<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Content header -->
    <div id="content_header">
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
        <h1>DinoPark home page!</h1>
        {% if session.username %}
        <a href="/logout">
            <button class="button" id="logout_btn">Logout</button>
        </a>
        <a href="/profile">
            <button class="button" id="profile_btn">Profile</button>
        </a>
        {% else %}
        <a href="/login">
            <button class="button" id="login_btn">Login/register</button>
        </a>
    {% endif %}        
    </div>
    <!-- Content header ends-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Hello {{ user_data[0][0] }}!</h2>
    {% if user_data[0][1] %}
    <p>You have a feeding show reservation on {{ user_data[0][1] }} at {{ user_data[0][2] }}</p>
    {% endif %}
</body>
</html>