<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DinoPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Content header -->
    <div id="content_header">
        <a href="/">
            <img src="{{url_for('static', filename='icon.png')}}">
        </a>
        <h1>DinoPark home page!</h1>
        {% if session.username %}
        <a href="/logout">
            <button class="button" id="logout_btn">Logout</button>
        </a>
        <a href="/profile">
            <button class="button" id="profile_btn">Profile</button>
        </a>
        {% else %}
        <a href="/login">
            <button class="button" id="login_btn">Login/register</button>
        </a>
    {% endif %}        
    </div>
    <!-- Content header ends-->
    <div id="search_box">
        <div id="search_time">
            <form action="/search_result" method="POST">
                <input type="date" name="search_date">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="search_text">
            <form action="/search_result" method="POST">
                <input type="text" name="search_text" placeholder="Search">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    <br>
    <div class="content_area">
        <div class="content_box">
            <h3>Feeding shows today</h3>
            {% for time in times %}
            <div class="time_box">
                <h4>{{ time.name }}</h4>
                {{ time.date }}
                at {{ time.time }}
           </div>
           <br>
           {% endfor %}
        </div>
        <div class="content_box">
            <h3>Browse dinosaurs</h3>
            {% for dino in dinosaurs %}
            <div class="dino_box">
                <h4>{{ dino.name }}</h5>
                <img class="image" src="{{url_for('static', filename='dinokuva.jpg')}}">
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</body>
</html>